/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  General
  ========================================
*/

/**,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

body {
  color: white;
  font: 300 22px/22px "Lato", "Open Sans", "Helvetica Nueu", Helvetica, Arial, sans-serif;
  background: #293f50;
}

h1 {
  font-size: 36px;
  margin: 20px 30px 0 40px;
  display: inline;
  vertical-align: bottom;
}

.logo {
  max-width: 80px;
  height: auto;
  padding-top: 20px;
  vertical-align: bottom;
}

h3 {
  margin: 0 50px 30px 0;
  vertical-align: top;
  display: block;
  text-decoration: underline
}


/*
  ========================================
  Grid
  ========================================
*/

/**,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

.grid {
  width: 1200px;
  margin: 0;
}

.grid,
.timeline,
.nav {
  padding-left: 15px;
  padding-right: 15px;
}

.timeline,
.nav {
  display: inline-block;
  vertical-align: top;
}

.timeline {

}

.nav {
  float: right;
  display: inline
}

/*
  ========================================
  Who you're following (inside .nav)
  ========================================
*/

.nav-list {
  text-align: left;
  padding-right: 30px;

}

.nav-pics {
  margin-left: 100px;
  text-align: left;
}

.following {
  color: white;
}

.following img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 30px 30px 5px;
}

/*
  ========================================
  Tweet Box Structure
  ========================================
*/

.messageBox {
  border: 4px solid grey;
  padding: 5px;
  width: 770px;
  margin: 10px 0 10px 30px;
  border-radius: 10px;
}

.messageBox,
.col-lef,
.col-right {
  padding: 5px, 15px, 5px, 15px;
}

.col-left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 25px;
  vertical-align: center;
}

.col-right {
  vertical-align: center;
}

.col-left,
.col-right {
  display: inline-block;
}

/*
  ========================================
  Tweets
  ========================================
*/

.date {
	font-size: 14px;
	color: grey;
  vertical-align: bottom;
}

.username, .handle {
  vertical-align: top;
  padding-bottom: 20px;
}

.username {
  padding-right: 20px;
  font-weight: 900;
}

.handle {
  color: grey;
  font-weight: 300;
  display: inline;
}

.handle:hover { 
  color: yellow;
}

.message {
  padding: 10px 0 10px 0;
  vertical-align: top;
}

.highlight {
	color: red;
}